<ul>
    <li>
    <!-- For exact matching on route, wwe use that exact = true -->
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/login">Login</a>
    </li>
    <li>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/profile">Profile</a>
    </li>
    <li>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/forms">Forms</a>
    </li>
    <li>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/counter">Counter</a>
    </li>
    <li>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/todo">Todo</a>
    </li>
    <li>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/signup">SignUp</a>
    </li>
</ul>

