<!-- <h1> HEllo Angularrr</h1> -->
<!-- Called as interpolation {{}} i.e display data from ts to html file, exec js code in html file -->
<!-- <button>{{title}}</button>
<h2>{{name}}</h2>
<h3>{{3+3+x}}</h3>
<h4>{{x==3}}</h4>

<h1>{{name.toUpperCase()}}</h1> -->
<!-- Cannot declare new variable inside {{data=30}}(like this), no decreament or increament also -->

<!-- <login></login>
<app-signup></app-signup>
<app-profile></app-profile> -->
<!-- <app-counuter></app-counuter> -->
<!-- 
<button (click)="handleClickSomething()">Click me</button>
<button (click)="sum(4,5)">Sum</button> -->
<!-- <button (click)="handleClick($event)">Click ME</button>
<input type="text" (focus)="handleClick($event)" (input)="handleClick($event)" name="user"> -->

<!-- <h1>User name is : {{displayname}}</h1>
<input type="text" value="{{name}}" (input)="getName($event)"  placeholder="Type username">
<button (click)="nameDisplay()">Get Value</button>
<br>
<br>
<input type="text" placeholder="Enter Email" #emailField>
<button (click)="EmailDisplay(emailField.value)">Get email</button> -->

<h1>If else contol</h1>

<!-- @if(display){
  <div style="height: 10rem; width: 10rem; background-color: green; margin: 2px;"></div>
}
@if(x>5){
  <div style="height: 10rem; width: 10rem; background-color: green;"></div>
} -->
<!-- u can also have @else with 2 togglings etc -->
 <!-- to write ternary operators like x?15:30 use {{}} -->
<!-- else-if also is there -->
<!-- @switch(color){
  @case('red'){

  }
  @case('blue'){
    
  }
  @default {}
} -->

<!-- for loops -->
 @for (user of users; track $index; let id=$index) {
  <h2>{{id+1}},{{user}}</h2>
 }
